<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo2.png">
    </a>
    <h1>Weather Search</h1>
    <!--<p>This app it has been create with node.js and deploy with heroku</p>
    <p>Check my repository if you have questions</p>-->
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/MoisesSanchez2020/postal-rate"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    
  </div>
  <hr>
   <!-- row -->

  <h1>Weather Search</h1>
	<!--<form method="get" action="/calculatePostage">
		<label for="weight">Package Weight</label>
		<input type="text" name="weight" id="weight" />

		<br/>
		<br/>

		<label for="mailType">Mail Type</label>
		<select name="mailType" id="mailType">
			<option value="stamped">Stamped Letter</option>
			<option value="metered">Metered Letter</option>
			<option value="largeEvn">Large Envalope</option>
			<option value="parcel">Parcels</option>
		</select>

		<button type="submit">Calculate</button>
  </form>-->
  <div id="first">
		<form action="/weather" method="post">
			<h3>Forecast location</h3>
			<label for="city">City: </label>
			<input type="text" name="city" id="city"><br>
			<input type="submit" name="submit" value="Search">
		</form>

	</div>


   <div class="alert alert-info text-center" role="alert">
   </div>
  
</div>


</body>
</html>
